*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

:root{
    --title: #e53170;
    --profile: #0f0e17;
}

h1{
  font-family: 'Fredoka One', cursive;  
}

p{
 font-family: 'Mukta', sans-serif;   
}