*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

:root{
    --title: #e53170;
    --profile: #0f0e17;
    --email: #4eb8db;
}


.container{

    width: 80%;
    text-align: center;
    margin:auto;
    margin-top: 20px;
}

h1{
  font-family: 'Fredoka One', cursive;
  color: var(--title);  
  margin-bottom: 20px;
}

p{
 font-family: 'Mukta', sans-serif; 
 margin-bottom: 20px;
}

img{
    max-width: 100%;
    width: 80px;
}

.col_3{
   background-color: var(--profile);
    width: calc(100% / 3);
    float: left;
    text-align: left;
    color: white; 
    box-shadow: 0 0 10px black;
    margin-bottom: 2rem;
}

span , h3 {
    font-size: 1rem;

    
}



.img{
    float: left;
}

.text{
    float: left;
   
}

h3{
    font-family: 'Fredoka One', cursive;
    padding-left: 1rem;
    padding-top: 0.5rem;
}


span{
    padding-left: 1rem;
    font-family: 'Mukta', sans-serif; 
}

.email{
    color: var(--email);
    padding-bottom: 0.5rem;
}

.row{
    max-width: 80%;
    margin: auto;
}